<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
  <test thread-count="5" name="Test">
    <classes>
     <class name="Scenarios.AddVegetables"/>
      <class name="Scenarios.AddDryFruits"/>
      <class name="Scenarios.AddFruits"/>
       <class name="Scenarios.Top_Deals"/>
       <class name="Scenarios.Flight_Booking"/>
       <class name="Scenarios.Add_Tomato"/>
       <class name="Scenarios.Add_Walnuts"/>
       <class name="Scenarios.Add_MuskMelon"/>
       <class name="Scenarios.ItemPrice"/>
       <class name="Scenarios.Remove_From_ItemPrice"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
